---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostsSlider from "../../components/PostsSlider.astro";
import BlogContent from "../../components/BlogContent";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<Layout>
  <section class="flex flex-col gap-10">
    <BlogContent
      client:load
      title={post.data.title}
      date={post.data.date}
      body={post.body}
    />
    <PostsSlider />
  </section>
</Layout>
