@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.3);
  }

  .box-static {
    @apply p-5;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 5px 5px 75px #d0d0d0, -5px -5px 75px #f0f0f0;
    transition: 0.25s ease-in;
    border: 1px solid #d0d0d0;
  }

  .box {
    @apply p-5;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 20px 20px 75px #d0d0d0, -20px -20px 75px #f0f0f0;
    transition: 0.25s ease-in;
    border: 1px solid #d0d0d0;
  }

  .box:hover {
    background: #e3e3e3;
    box-shadow: 20px 20px 75px #cbcbcb, -20px -20px 75px #e8e8e8;
    border: 1px solid #999999;
  }

  .box2 {
    @apply p-5;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 5px 5px 75px #d0d0d0, -5px -5px 75px #f0f0f0;
    transition: 0.25s ease-in;
    border: 1px solid #d0d0d0;
  }

  .box2:hover {
    background: #e3e3e3;
    box-shadow: 5px 5px 75px #cbcbcb, -5px -5px 75px #e8e8e8;
    border: 1px solid #999999;
  }

  .ignore-width {
    margin-left: calc(50% - 50vw);
  }

  .cta {
    @apply bg-stone-100 rounded-full relative px-4 py-2 text-sm
    before:w-full before:h-full before:scale-x-[1.05] before:scale-y-[1.1]  before:absolute before:top-[50%] before:left-[50%]
    before:-z-10 before:translate-x-[-50%] before:translate-y-[-50%] 
    before:from-indigo-200 before:to-violet-800 before:bg-gradient-to-br
    before:rounded-full transition-all duration-300;
    box-shadow: 0 0 20px 5px #6c28d95f;
  }

  .cta:hover {
    box-shadow: 0 0 20px 5px #6c28d992;
  }

  .cta2 {
    @apply bg-stone-800 text-stone-100 px-4 py-2 text-sm rounded-lg;
  }

  .cta3 {
    @apply bg-stone-200  text-stone-800 px-4 py-2 text-sm rounded-lg hover:bg-stone-100 transition-all duration-300;
    border: 1px solid #d0d0d0;
  }

  .input {
    @apply bg-stone-100 rounded-md relative px-4 py-2 text-sm
    before:w-full before:h-full before:scale-x-[1.02] before:scale-y-[1.05]  before:absolute before:top-[50%] before:left-[50%]
    before:-z-10 before:translate-x-[-50%] before:translate-y-[-50%] 
    before:from-indigo-200 before:to-violet-800 before:bg-gradient-to-br
    before:rounded-md transition-all duration-300;
    box-shadow: 0 0 5px 1px #6c28d95f;
  }

  .input:hover {
    box-shadow: 0 0 7px 2px #6c28d992;
  }

  .input:active {
    box-shadow: 0 0 7px 2px #6c28d992;
  }

  .input:focus {
    outline: none;
  }
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    background-color: #e0e0e0;
  }

  section {
    @apply w-full py-14;
  }
}
