---
import Layout from "../layouts/Layout.astro";
import { SignIn, SignOut } from "auth-astro/components";
---

<Layout>
  <main class="bg-red-500">
    <h1 class="text-red-500">hi</h1>
    <SignIn provider="github">sign in</SignIn>
    <SignOut>sign out</SignOut>
  </main>
</Layout>
