---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const nonDraftPosts = posts.filter((post) => !post.data.draft);
---

<Layout>
  <section class="w-full flex justify-center h-96 items-center">
    <div class="flex flex-column items-end p-4 flex-wrap">
      <h1
        class="text-5xl sm:text-8xl font-bold tracking-tight md:text-9xl pb-3 text-transparent bg-clip-text bg-gradient-to-r from-black to-stone-800"
      >
        StageBlog
      </h1>
      <span class="text-end font-medium pb-3 text-stone-900"
        >By Samed Polat</span
      >
    </div>
  </section>
  <section class="p-0">
    <a href="#">
      <div class="box h-44 flex flex-col justify-between">
        <div>
          <h1 class="text-xl font-bold">Intro</h1>
          <p>Algemene info over deze blog</p>
        </div>
        <div class="w-full flex flex-col items-end">
          <i
            class="fa-solid fa-arrow-right bg-stone-950 p-3 rounded-full text-white"
          ></i>
        </div>
      </div>
    </a>
  </section>
  <section
    class="grid grid-cols-1 gap-4 lg:gap-10 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      nonDraftPosts.map((post) => (
        <a href={`/blog/${post.slug}/`}>
          <div class="box h-44 flex flex-col justify-between">
            <div>
              <h1 class="text-xl font-bold">{post.data.title}</h1>
              <p>{post.data.date}</p>
            </div>
            <div class="w-full flex flex-col items-end">
              <i class="fa-solid fa-arrow-right bg-stone-950 p-3 rounded-full text-white" />
            </div>
          </div>
        </a>
      ))
    }
  </section>
  <section class="p-0 pb-14">
    <a href="/blog/reflectie">
      <div class="box h-44 flex flex-col justify-between">
        <div>
          <h1 class="text-xl font-bold">Reflectie op deze stage</h1>
          <p>hello</p>
        </div>
        <div class="w-full flex flex-col items-end">
          <i
            class="fa-solid fa-arrow-right bg-stone-950 p-3 rounded-full text-white"
          ></i>
        </div>
      </div>
    </a>
  </section>
</Layout>
