---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section
  class="flex flex-row overflow-scroll gap-4 items-start w-screen ignore-width p-0"
>
  {
    posts.map((post) => (
      <a href={`/blog/${post.slug}/`}>
        <div class="box2 h-44 w-80 flex flex-col justify-between">
          <div>
            <h1 class="text-xl font-bold">{post.data.title}</h1>
            <p>{post.data.date}</p>
          </div>
          <div class="w-full flex flex-col items-end">
            <i class="fa-solid fa-arrow-right bg-stone-950 p-3 rounded-full text-white" />
          </div>
        </div>
      </a>
    ))
  }
</section>
