---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="StageBlog" description="StageBlog" />
  </head>

  <body>
    <Header />
    <main
      class="max-w-[1200px] flex flex-col relative m-auto min-h-screen pt-12"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
