---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Modal from "../components/Modal";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="StageBlog" description="StageBlog" />
  </head>
  <body>
    <Header />
    <Modal client:load />
    <main
      class="max-w-[1200px] px-4 lg:p-0 flex flex-col relative m-auto min-h-screen pt-12"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
